@media only screen and (min-width: 400px) {
  
  #home article p:nth-of-type(1) {
    font-size: 2rem;
    line-height: 30px;
  }



  .toggle {
    display: block;
  }

  .toggle:hover ~ .phone {
    display: flex;
  }

  .laptop {
    display: none;
  }
  .phone {
    flex-direction: column;
    background-color: var(--primary);
    position: relative;
    color: var(--dark);
    z-index: 10;
  }

  .phone li {
    padding-left: 10px;
    border-bottom: 1px solid var(--white);
    transition: all 0.3s;
  }

  .phone li:hover {
    background-color: var(--dark);
    color: var(--light);
  }

  #info,
  #contact {
    padding: 40px 15px;
  }

  #portfolio {
    width: 90%;
    margin: auto;
  }

  #portfolio img {
    width: 100%;
  }

  .logo {
    margin-bottom: 2.5rem;
  }
}
