@media only screen and (min-width: 768px) {
  #home article p:nth-of-type(1) {
    font-size: 2rem;
    line-height: 50px;
  }

  .toggle {
    display: none;
  }
  .laptop {
    display: flex;
  }
}
