@media only screen and (min-width:500px){
    #info{
        padding: 40px 0px;
    }
    #portfolio{
        width: 80%;
        margin: auto;
    }

    #portfolio img{
        width: 100%;
    }

    #contact{
        padding: 40px 0;
    }
}