:root {
  --dark: #070707;
  --primary: #828282;
  --white: #ffffff;
  --light: #f6f6f6;
}

html {
  font-size: 16px;
}

@font-face {
  font-family: "Roboto";
  font-weight: bold;
  font-style: normal;
  src: url("/font/Roboto-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-weight: 500;
  font-style: normal;
  src: url("/font/Roboto-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-weight: 300;
  font-style: normal;
  src: url("/font/Roboto-Light.ttf") format("truetype");
}

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: "Roboto";
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

.section-title {
  font-size: 2rem;
  color: var(--dark);
  font-weight: bold;
}

#home {
  width: 80%;
  margin: auto;
}

header {
  height: 90px;
  border-bottom: 1px solid var(--primary);
  line-height: 90px;
}

nav {
  display: flex;
  align-items: center;
}

nav .brand {
  flex: 1;
  text-transform: capitalize;
}

.toggle {
  display: none;
}

nav ul {
  flex: 6;
  display: flex;
  margin-left: auto;
  justify-content: space-evenly;
  align-items: center;
}

.phone {
  display: none;
}

nav ul li {
  color: var(--primary);
  font-size: 1.125rem;
  text-transform: capitalize;
}

nav ul li.active {
  color: var(--dark);
}

/* ------------------------------ HOME ARTICLE ------------------------------ */

#home article {
  padding: 40px 0px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

#home article p:nth-of-type(1) {
  font-size: 3rem;
  color: var(--dark);
  line-height: 59px;
  font-weight: bold;
}

#home article > p:nth-of-type(2) {
  font-size: 1.125rem;
  font-weight: 500;
}

#home article > p:nth-of-type(3) {
  transform: rotate(-90deg) translateX(35%) translateY(20px);
  font-weight: bold;
}

#home article > p:nth-of-type(3) span {
  color: var(--primary);
}

#home .cover-image {
  margin-bottom: 100px;
}

#home .cover-image img {
  width: 100%;
  object-fit: cover;
}
/* ---------------------------------- INFO ---------------------------------- */

#info {
  background-color: var(--light);
  text-align: center;
}

#info h2 {
  margin-bottom: 1rem;
}

#info p {
  margin-bottom: 2rem;
  font-weight: 500;
  font-size: 1.125rem;
}

#skills {
  width: 80%;
  margin: auto;
  background-color: var(--white);
  text-align: center;
  padding-bottom: 107px;
}

#skills h2 {
  margin-bottom: 69px;
  margin-top: 90px;
}

#skills > p {
  margin-bottom: 83px;
}
#skills .logos {
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* .logos>.logo:nth-of-type(1){
  justify-self: flex-start;
}
.logos>.logo:nth-of-type(4){
  justify-self: flex-end;
} */

.logo > p {
  font-size: 14px;
  color: var(--primary);
  font-weight: bold;
  margin-top: 1.5rem;
  margin-bottom: 2.5rem;
}

.logo > div > img {
  margin-right: 9px;
}

.logo > div > img:last-child {
  margin-right: 0px;
}

/* -------------------------------- PORTFOLIO ------------------------------- */

#portfolio {
  text-align: center;
}

#portfolio h2 {
  margin-bottom: 90px;
}

#portfolio .project span {
  /* display: block; */
  display: inline-block;
  margin-top: 40px;
  margin-bottom: 99px;
  border-bottom: 1px solid var(--dark);
  font-size: 18px;
  font-weight: 500;
}

/* --------------------------------- CONTACT -------------------------------- */

#contact {
  text-align: center;
}

#contact h2 {
  margin-bottom: 1.25rem;
}

#contact > p {
  margin-bottom: 29px;
}

button {
  border: none;
  color: var(--white);
  background-color: var(--dark);
  border-radius: 25px;
  padding: 15px 30px;
  font-size: 1.125rem;
}

#contact .messangers {
  padding: 60px;
  margin-top: 90px;
  display: flex;
  justify-content: space-around;
}
